In [2]:
import pandas as pd
import numpy as np

In [3]:
liste20 = pd.read_excel('20.xlsx')
liste35 = pd.read_excel('35.xlsx')
liste54 = pd.read_excel('54.xlsx')
liste109 = pd.read_excel('109.xlsx')
liste156 = pd.read_excel('156.xlsx')
liste164 = pd.read_excel('164.xlsx')
liste324 = pd.read_excel('324.xlsx')

In [4]:
# List of file names
file_list = [liste20 ,liste35, liste54, liste109, liste156, liste164, liste324]

def concat_files(file_list):
    # Initialize an empty list to store dataframes
    dfs = []
    
    # Loop through the file list and read each Excel file into a dataframe
    for file_name in file_list:
        dfs.append(file_name)
    
    # Concatenate all dataframes in the list along the rows (axis=0)
    concatenated_df = pd.concat(dfs, axis=0, ignore_index=True)
    
    return concatenated_df

# Call the function to concatenate the files
concatenated_df = concat_files(file_list)
concatenated_df

,Matrikkel / Org-Anr,Adresse,Boligtype,Prom,BRA,BTA,Byggeår,Etasje,Balkong,Parkering,...,Sist solgt,Pris,Fellesgjeld ved siste salg,Totalpris ved siste salg,Antall rom,Antall soverom,Hjemmelshaver,Registrert dato,Omsetningshastighet (dager),Megler
0,5001-314/7/0/0,"Løvaasveien 30, 7093 TILLER",Selveier enebolig,225.0,247.0,NaN,1971,NaN,Ja,Nei,...,31.10.2023,5500000,0.0,5500000,4.0,3.0,TRONDHEIM KOMMUNE,20.10.2023,11.0,EiendomsMegler 1 avd. Trondheim Sentrum
1,5001-313/458/0/1,"Sandmovegen 39, 7093 TILLER",Selveier tomannsbolig,120.0,163.0,NaN,1990,NaN,Ja,Nei,...,12.09.2023,4150000,0.0,4150000,4.0,4.0,"JENNY GUNDERSEN GJERSDAL,JOAKIM OLSEN HARANES",30.08.2023,13.0,EiendomsMegler 1 avd. Trondheim Syd/Heimdal
2,5001-323/2432/0/1,"Løvaasveien 6, 7093 TILLER",Selveier tomannsbolig,74.0,74.0,80.0,2017,1.0,Ja,Nei,...,16.08.2023,3720000,0.0,3720000,4.0,3.0,"SANDHYA ADHIKARY,NIKLAS BHATTARAI",02.08.2023,14.0,EiendomsMegler 1 avd. Trondheim Syd/Heimdal
3,5001-323/1971/0/11,"Sandmovegen 49 A, 7093 TILLER",Selveierleilighet,77.0,77.0,82.0,1994,1.0,Ja,Nei,...,10.08.2023,3550000,0.0,3550000,3.0,2.0,ANNE MARIT KVERNRØD,01.08.2023,9.0,PrivatMegleren Benum & Johansen
4,5001-313/480/0/0,"Sandmovegen 13, 7093 TILLER",Selveier tomannsbolig,97.0,111.0,115.0,1992,NaN,Ja,Nei,...,09.08.2023,3800000,0.0,3800000,4.0,3.0,"ANDREA BRENNE STRAND,BJØRN-ERIK BRENNE STRAND",01.06.2023,69.0,Meglerhuset Nylander avd Heimdal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,5001-521/491/0/4,"Nordalsvegen 3, 7540 KLÆBU",Selveierleilighet,55.0,58.0,65.0,2017,2.0,Ja,Nei,...,12.03.2021,2390000,0.0,2390000,2.0,1.0,"NINA E JACOBSEN,KETIL KRISTIANSEN",11.01.2021,60.0,EiendomsMegler 1 avd. Trondheim Syd/Heimdal
858,5001-520/121/0/9,"Stormyrvegen 8 A, 7540 KLÆBU",Selveierleilighet,51.0,54.0,59.0,1990,1.0,NaN,Ja,...,12.03.2021,2260000,99625.0,2359625,2.0,1.0,GØRAN RØNNING,06.02.2021,34.0,Krogsveen avd. Trondheim
859,5001-520/53/0/3,"Torvmarkvegen 6 A, 7540 KLÆBU",Selveier rekkehus,112.0,125.0,130.0,1998,NaN,Ja,Nei,...,09.03.2021,3500000,0.0,3500000,NaN,3.0,"ANITA FØLL,CHRISTIAN L PEDERSBORG",05.09.2019,551.0,Heimdal Eiendomsmegling AS avd Heimdal
860,5001-521/519/0/10,"Granmovegen 18, 7540 KLÆBU",Selveierleilighet,68.0,68.0,NaN,2018,1.0,Ja,Nei,...,05.03.2021,2950000,0.0,2950000,3.0,2.0,"THERESE AUNRØNNING,MICHAEL DAHLEN",23.02.2021,10.0,EiendomsMegler 1 avd. Trondheim Syd/Heimdal
861,5001-521/263/0/0,"Skjoldvegen 10, 7540 KLÆBU",Selveier enebolig,244.0,333.0,366.0,1989,NaN,NaN,Nei,...,02.03.2021,5850000,NaN,5850000,5.0,4.0,GEIR-MORTEN RØBERG,02.03.2021,NaN,NaN

In [5]:
concatenated_df.to_excel("combined7092-slutt.xlsx", index=False)