In [200]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [201]:
df = pd.read_excel('../Felles/TrondheimHousingData.xlsx')

In [202]:
df.drop(columns = ['Hjemmelshaver'], inplace = True)

In [203]:
df['Postnummer'] = df['Adresse'].str.split(', ').str[1].str[:4].astype(int)

In [204]:
df = pd.get_dummies(df, columns = ['Balkong', 'Parkering'], dtype = int)
df = df.drop(['Parkering_Nei'], axis = 1)

In [205]:
# df['Byggeår'] = df['Byggeår'].astype(int) if df['Byggeår'].notna else df['Byggeår']
# df['Etasje'] = df['Etasje'].astype(int)
# df['Antall rom'] = df['Antall rom'].astype(int)
# df['Antall soverom'] = df['Antall soverom'].astype(int)

In [206]:
df.head()

,Matrikkel / Org-Anr,Adresse,Boligtype,Prom,BRA,BTA,Byggeår,Etasje,Tomtestørrelse,Sist solgt,Pris,Fellesgjeld ved siste salg,Totalpris ved siste salg,Antall rom,Antall soverom,Registrert dato,Omsetningshastighet (dager),Megler,Postnummer,Balkong_Ja,Parkering_Ja
0,5001-400/93/0/12,"Erling Skakkes gate 1, 7013 TRONDHEIM",Selveierleilighet,40.0,40.0,40.0,1974.0,2.0,667.5,20.12.2023,3100000,0.00,3100000,2.0,1.0,28.04.2023,236.0,Heimdal Eiendomsmegling avd. Sentrum,7013,1,0
1,5001-400/123/0/3,"Vår Frue gate 8, 7013 TRONDHEIM",Selveierleilighet,49.0,49.0,54.0,1870.0,2.0,193.4,04.12.2023,3150000,55723.23,3205723.23,2.0,1.0,07.06.2023,180.0,PrivatMegleren Benum & Johansen,7013,0,0
2,5001-400/102/0/5,"Schultz gate 8, 7013 TRONDHEIM",Selveierleilighet,53.0,53.0,58.0,1902.0,3.0,304.1,22.11.2023,4000000,25638.00,4025638,3.0,2.0,09.11.2023,13.0,PRIVATmegleren Trondheim,7013,1,0
3,5001-400/93/0/10,"Erling Skakkes gate 1, 7013 TRONDHEIM",Selveierleilighet,46.0,46.0,50.0,1974.0,2.0,667.5,21.08.2023,3125000,0.00,3125000,2.0,1.0,01.08.2023,20.0,Proaktiv Trondheim,7013,0,0
4,5001-400/123/0/5,"Vår Frue gate 8, 7013 TRONDHEIM",Selveierleilighet,42.0,42.0,NaN,1870.0,3.0,193.4,12.07.2023,3700000,51026.00,3751026,2.0,2.0,04.07.2023,8.0,Proaktiv Trondheim,7013,0,0

In [207]:
df['Registrert dato'] = pd.to_datetime(df['Registrert dato'][0], infer_datetime_format = True)
df['Sist solgt'] = pd.to_datetime(df['Sist solgt'][0], infer_datetime_format = True)

In [208]:
print(type(df['Sist solgt'][0]))
print(type(df['Registrert dato'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [209]:
numeric_columns = ['Antall rom', 'Omsetningshastighet (dager)', 'Antall soverom', 'Etasje', 'Byggeår', 'BRA', 'BTA', 'Prom']
for column in numeric_columns:
    df[column] = df[column].fillna(0)

df['Antall rom'] = df['Antall rom'].astype(int)
df['Omsetningshastighet (dager)'] = df['Omsetningshastighet (dager)'].astype(int)
df['Antall soverom'] = df['Antall soverom'].astype(int)
df['Etasje'] = df['Etasje'].astype(int)
df['Byggeår'] = df['Byggeår'].astype(int)
df['BRA'] = df['BRA'].astype(int)
df['BTA'] = df['BTA'].astype(int)
df['Prom'] = df['Prom'].astype(int)

In [210]:
df['Boligtype'].value_counts()

Selveierleilighet          9864
Borettslagsleilighet       5830
Selveier enebolig          2238
Selveier tomannsbolig      1415
Selveier rekkehus          1200
Annet                       436
Borettslag rekkehus         434
Borettslag tomannsbolig      63
Selveier garasje             19
Borettslag enebolig          19
Ubebygd                       6
Næring                        3
Name: Boligtype, dtype: int64

In [214]:
#Drop boligtyper

In [194]:
df = pd.get_dummies(df, columns = [ 'Boligtype'], dtype = int)

In [195]:
df.head()

,Matrikkel / Org-Anr,Adresse,Prom,BRA,BTA,Byggeår,Etasje,Tomtestørrelse,Sist solgt,Pris,Fellesgjeld ved siste salg,Totalpris ved siste salg,Antall rom,Antall soverom,Registrert dato,Omsetningshastighet (dager),Megler,Postnummer,Balkong_Ja,Parkering_Ja,Boligtype_Annet,Boligtype_Borettslag enebolig,Boligtype_Borettslag rekkehus,Boligtype_Borettslag tomannsbolig,Boligtype_Borettslagsleilighet,Boligtype_Næring,Boligtype_Selveier enebolig,Boligtype_Selveier garasje,Boligtype_Selveier rekkehus,Boligtype_Selveier tomannsbolig,Boligtype_Selveierleilighet,Boligtype_Ubebygd
0,5001-400/93/0/12,"Erling Skakkes gate 1, 7013 TRONDHEIM",40,40,40,1974,2,667.5,2023-12-20,3100000,0.00,3100000,2,1,2023-04-28,236,Heimdal Eiendomsmegling avd. Sentrum,7013,1,0,0,0,0,0,0,0,0,0,0,0,1,0
1,5001-400/123/0/3,"Vår Frue gate 8, 7013 TRONDHEIM",49,49,54,1870,2,193.4,2023-12-20,3150000,55723.23,3205723.23,2,1,2023-04-28,180,PrivatMegleren Benum & Johansen,7013,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,5001-400/102/0/5,"Schultz gate 8, 7013 TRONDHEIM",53,53,58,1902,3,304.1,2023-12-20,4000000,25638.00,4025638,3,2,2023-04-28,13,PRIVATmegleren Trondheim,7013,1,0,0,0,0,0,0,0,0,0,0,0,1,0
3,5001-400/93/0/10,"Erling Skakkes gate 1, 7013 TRONDHEIM",46,46,50,1974,2,667.5,2023-12-20,3125000,0.00,3125000,2,1,2023-04-28,20,Proaktiv Trondheim,7013,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,5001-400/123/0/5,"Vår Frue gate 8, 7013 TRONDHEIM",42,42,0,1870,3,193.4,2023-12-20,3700000,51026.00,3751026,2,2,2023-04-28,8,Proaktiv Trondheim,7013,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [196]:
megler_frequency = df['Megler'].value_counts()
megler_frequency.head(60)

DNB Eiendom AS                                       2015
EiendomsMegler 1 avd. Trondheim Sentrum              1433
EiendomsMegler 1 avd. Trondheim Syd/Heimdal          1367
EiendomsMegler 1 avd. Trondheim Vest/Byåsen          1057
Proaktiv Trondheim                                    867
PRIVATmegleren Trondheim                              729
PrivatMegleren Benum & Johansen                       707
EiendomsMegler 1 avd. Lerkendal                       667
Eie Eiendomsmegling Trondheim                         650
EiendomsMegler 1 avd. Trondheim Øst/Valentinlyst      643
EiendomsMegler 1 avd. Grilstadporten                  560
Heimdal Eiendomsmegling avd. Sentrum                  544
EiendomsMegler 1 avd. Trondheim Nord Øst/Lade         390
Heimdal Eiendomsmegling avd. Høyskoleparken           362
Proaktiv Eiendomsmegling avd. Moholt                  335
Meglerhuset Nylander avd Lilleby                      323
Heimdal Eiendomsmegling avd. Rosten                   298
Heimdal Eiendomsmegling avd. Heimdal                  279
Heimdal Eiendomsmegling avd. Byåsen                   261
Proaktiv Eiendomsmegling avd. Heimdal                 261
Krogsveen Trondheim                                   258
Meglerhuset Nylander avd Trondheim Sentrum            253
Heimdal Eiendomsmegling AS avd. Trondheim Sentrum     236
Proaktiv Eiendomsmegling Trondheim øst                218
Heimdal Eiendomsmegling AS, avd Høyskoleparken        211
Heimdal Eiendomsmegling AS, Hovedkontor Trondheim     201
Meglerhuset Nylander avd. Moholt                      199
Meglerhuset Nylander avd Heimdal                      163
Heimdal Eiendomsmegling AS avd Heimdal                147
Heimdal Eiendomsmegling AS, Avd. Byåsen               131
Lokalmegleren Trondheim AS                            115
Krogsveen avd. Trondheim                              100
EIE eiendomsmegling Heimdal                            90
Samsolgt by DNB Eiendom                                89
EiendomsMegler 1 avd. Melhus/Midtre Gauldal/Røros      75
Meglerhuset Nylander avd Søndre gt                     75
Lokalmegleren & Partners Trondheim                     65
Aktiv Trondheim                                        52
Heimdal Eiendomsmegling avd. Melhus                    42
Meglerhuset Nylander avd. Lilleby                      39
EiendomsMegler 1 Nybygg                                38
Heimdal Eiendomsmegling avd. Solsiden                  35
Heimdal Eiendomsmegling AS Avd Melhus                  34
Heimdal Eiendomsmegling avd. Stjørdal                  30
Meglerhuset Nylander avd Nybygg                        26
Aktiv Orkla                                            23
Heimdal Eiendomsmegling AS, avd Stjørdal               22
Heimdal Eiendomsmegling AS avd Orkanger                22
Megleren Din AS                                        22
EiendomsMegler 1 Prosjekt Trondheim                    19
Meglerhuset Nylander avd. Trondheim Sentrum            17
EIE eiendomsmegling Trondheim sentrum                  17
EiendomsMegler 1 avd. Stjørdal                         15
Heimdal Eiendomsmegling avd. Orkanger                  15
Meglerhuset Nylander avd Stjørdal                      13
Meglerhuset Nylander avd. Heimdal                      12
EiendomsMegler 1 avd. Orkanger                         11
Heimdal Eiendomsmegling AS avd. Solsiden                8
EiendomsMegler 1 Lade og Lilleby                        7
Propr AS                                                7
Name: Megler, dtype: int64

In [197]:
# Define the mapping of old names to new names
name_mapping = {
    'heimdal eiendomsmegling': 'Heimdal Eiendomsmegling',
    'proaktiv': 'Proaktiv Eiendomsmegling',
    'eiendomsmegler 1': 'EiendomsMegler 1',
    'eie': 'EIE',
    'nylander': 'Meglerhuset Nylander',
    'privatmegleren': 'Priv.Megleren',
    'krogsveen': 'Krogsveen',
    'dnb': 'DNB Eiendom',
    'obos': 'OBOS'
}

# Replace the values in the 'Megler' column based on the mapping
df['Megler'] = df['Megler'].str.lower().replace(name_mapping)

# For values not found in the mapping, set them to 'Annet'
df['Megler'] = df['Megler'].fillna('Annet')

In [198]:
clean_df = 0
clean_df = pd.get_dummies(df, columns = ['Megler', 'Boligtype'], dtype = int)

KeyError: "['Boligtype'] not in index"

In [ ]:
clean_df

,Matrikkel / Org-Anr,Adresse,Prom,BRA,BTA,Byggeår,Etasje,Tomtestørrelse,Sist solgt,Pris,Fellesgjeld ved siste salg,Totalpris ved siste salg,Antall rom,Antall soverom,Registrert dato,Omsetningshastighet (dager),Postnummer,Balkong_Ja,Parkering_Ja,Megler_Annet,Boligtype_Annet,Boligtype_Borettslag enebolig,Boligtype_Borettslag rekkehus,Boligtype_Borettslag tomannsbolig,Boligtype_Borettslagsleilighet,Boligtype_Næring,Boligtype_Selveier enebolig,Boligtype_Selveier garasje,Boligtype_Selveier rekkehus,Boligtype_Selveier tomannsbolig,Boligtype_Selveierleilighet,Boligtype_Ubebygd
0,5001-400/93/0/12,"Erling Skakkes gate 1, 7013 TRONDHEIM",40,40,40,1974,2,667.5,2023-12-20,3100000,0.00,3100000,2,1,2023-04-28,236,7013,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0
1,5001-400/123/0/3,"Vår Frue gate 8, 7013 TRONDHEIM",49,49,54,1870,2,193.4,2023-12-20,3150000,55723.23,3205723.23,2,1,2023-04-28,180,7013,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,5001-400/102/0/5,"Schultz gate 8, 7013 TRONDHEIM",53,53,58,1902,3,304.1,2023-12-20,4000000,25638.00,4025638,3,2,2023-04-28,13,7013,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0
3,5001-400/93/0/10,"Erling Skakkes gate 1, 7013 TRONDHEIM",46,46,50,1974,2,667.5,2023-12-20,3125000,0.00,3125000,2,1,2023-04-28,20,7013,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
4,5001-400/123/0/5,"Vår Frue gate 8, 7013 TRONDHEIM",42,42,0,1870,3,193.4,2023-12-20,3700000,51026.00,3751026,2,2,2023-04-28,8,7013,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21522,5001-521/491/0/4,"Nordalsvegen 3, 7540 KLÆBU",55,58,65,2017,2,998.3,2023-12-20,2390000,0.00,2390000,2,1,2023-04-28,60,7540,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0
21523,5001-520/121/0/9,"Stormyrvegen 8 A, 7540 KLÆBU",51,54,59,1990,1,2812.9,2023-12-20,2260000,99625.00,2359625,2,1,2023-04-28,34,7540,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0
21524,5001-520/53/0/3,"Torvmarkvegen 6 A, 7540 KLÆBU",112,125,130,1998,0,1026.0,2023-12-20,3500000,0.00,3500000,0,3,2023-04-28,551,7540,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
21525,5001-521/519/0/10,"Granmovegen 18, 7540 KLÆBU",68,68,0,2018,1,2190.4,2023-12-20,2950000,0.00,2950000,3,2,2023-04-28,10,7540,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0
21526,5001-521/263/0/0,"Skjoldvegen 10, 7540 KLÆBU",244,333,366,1989,0,807.6,2023-12-20,5850000,NaN,5850000,5,4,2023-04-28,0,7540,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0